<div class="login_form">
<%= notice %>
<h1> Log In </h1>
<%= form_for :user, url: {action: "authenticate"} do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Log In", class: 'button_link' %><br><br>
<% end %>
</div>