
<div class="style-div">
<nav>
  <ul>
    <li><button class="large-button" id="signup">signup or login</button></li>
    <li><button class="large-button" id="create-draft">create draft</button></li>
    <li><button class="large-button" id="profile">profile</button></li>
    <li><button class="large-button" id="logout">logout</button></li>
  </ul>
</nav>

  <h3>Fantasy Mock Draft</h3>
  <%= @num_rounds %>
  <%= @num_players %>

  <table id="mock-draft-table">
   <thead>
      <tr>
        <th></th>
        <% @number_of_rounds.times do |x| %>
        <th>Round <%=x+1 %></th>
        <% end %>
      </tr>
   </thead>
   <tbody>
    <tr>
      <th><%=@player_name%></th>
    </tr>
      <% @named_players.each do |x| %>
        <tr>
          <th><%=x %></th>
        </tr>
        <% end %>
   </tbody>
  </table>
</div>

<div class="panels">
<section class="left">
  <h2 id="que">Available Players</h2>
    <div class="queve-table">
      <table class="queve">
      <caption>Available Players</caption>
      <tbody>
          <% Player.all.each do |player| %>
      <tr>
        <td id="rank"><%= player.rank %></td>
        <td id="name"><%= player.first_name %> <%= player.last_name %></td>
        <td id="position"><%= player.position %></td>
        <td><button id="<%= player.id %>" class="xsmall-button">pick</button></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</section>

<section class="right">
  <h2 id="picked-players">Picked Players</h2>
    <div class="queve-table">
      <table class="picked">
        <caption>Picked Players</caption>
        <tbody>
        <tr>
          <td>Rank</td>
          <td>Name</td>
          <td>Position</td>
        </tr>
      </tbody>
      </table>
    </div>
</section class="right">
</div>


<dialog class="modal" id="signup-modal">
  <h2>Signup</h2>
  <%= flash[:notice] %>
  <%= form_for :user,  url: {action: "create_user"} do |f| %>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, placeholder: "user@email.com" %><br>
    <%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "Password"  %><br>
    <br />
   <%= f.submit "signup", class: 'button_link' %>
   <% end %>


<h2>Login</h2>
<%= notice %>
<%= form_for :user, url: {action: "authenticate"} do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "login", class: 'button_link' %><br>
<% end %>
</dialog>

<dialog class="modal" id="signup-modal">
  <h2>Signup</h2>
  <%= flash[:notice] %>
  <%= form_for :user,  url: {action: "create_user"} do |f| %>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, placeholder: "user@email.com" %><br>
    <%= f.label :password %><br />
    <%= f.password_field :password, placeholder: "Password"  %><br>
    <br />
   <%= f.submit "signup", class: 'button_link' %>
   <% end %>
  <div id="login">
    <h2>Login</h2>
    <%= notice %>
    <%= form_for :user, url: {action: "authenticate"} do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
      <%= f.submit "login", class: 'button_link' %><br>
    <% end %>
  </div>
</dialog>

<dialog class="modal" id="questionaire">
  <h2>Draft Questionnaire</h2>
    <%= form_for :draft, url: {action: "questionnaire"} do |f| %>
      <%= f.label :player_name %><br>
      <%= f.text_field :player_name %><br>
      <%= f.label :number_of_rounds %> <br>
      <%= f.label 8 %>
      <%= f.radio_button(:number_of_rounds, 8) %>
      <%= f.label 10 %>
      <%= f.radio_button(:number_of_rounds, 10) %>
      <%= f.label 12 %>
      <%= f.radio_button(:number_of_rounds, 12) %>
      <br><br>
      <%= f.label :number_of_players %> <br>
      <%= f.label 8 %>
      <%= f.radio_button(:number_of_players, 8) %>
      <%= f.label 10 %>
      <%= f.radio_button(:number_of_players, 10) %>
      <%= f.label 12 %>
      <%= f.radio_button(:number_of_players, 12) %>
      <br><br>
      <%= f.submit "Submit" %>
    <% end %>
</dialog>

<div class="modal-transparent-background">
</div>
